<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(status) do |f| %>
        <% if status.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(status.errors.count, "error") %> prohibited this status from being saved:</h2>

            <ul>
            <% status.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :body %>
          <%= f.text_area :body, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :image %>
          <%= f.file_field :image, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :video %>
          <%= f.file_field :video, autofocus: true, class: "form-control" %>
        </div>

        <%= f.submit "Submit", class: "form-control btn-success" %>
      <% end %>
    </div>
  </div>
</div>
