<div class="container">
  <div class="row">
  	<div class="col-xs-12">
      <%= link_to "Shared Journals", visible_journals_path, class: "btn btn-info btn-sm shared-journals" %>
      <br/>
      <%= month_calendar events: @days do |date,days| %>
        <%= content_tag :div, class: "calendar-day", data: {date: date} do %>
        <%= date.strftime('%e') %>
          <% days.each do |day| %>
            <div class="single_event">
              <%= link_to "View Journal", journals_path(day: day.start_time) %>
            </div>
          <% end %>
          <% if date == DateTime.now.to_date %>
            <%= link_to "New Entry", new_journal_path, class: "btn btn-success new-entry" %>
          <% end %>
        <% end %>
      <% end %>
  	</div>
  </div>
</div>
