<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(Letter.new) do |f| %>
       <div class="">
        <%= f.text_field :created_at, class: "", value: formatted_date, readonly: true %>
        <%= f.text_field :created_at, class: "", value: formatted_time, readonly: true %>
      </div><br/>
        <div class="form-group">
          <%= f.label "Recipient Username" %>
          <%= f.text_field :recipient, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Subject" %>
          <%= f.text_field :subject, autofocus: true, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label "Message" %>
          <%= f.text_area :body, autofocus: true, class: "form-control", rows: 10 %>
        </div>
        <%= f.submit "Send", class: "form-control btn-success" %>
      <% end %>
    </div>
  </div>
</div>
