<div class="container">
  <div class="row">
  	<div class="col-xs-12">
  	  <p> </p>
      <br/>
      <%= month_calendar events: @journals do |date,journals| %>
        <%= content_tag :div, class: "calendar-day", data: {date: date} do %>
        <%= date.strftime('%e') %>
          <% journals.each do |journal| %>
            <div class="single_event">
              <%= link_to "View Journal", journal_path(journal) %>
            </div>
          <% end %>
          <% if date == DateTime.now.to_date %>
            <%= link_to "New Entry", new_journal_path, class: "btn btn-success new-entry" %>
          <% end %>
        <% end %>
      <% end %>
  	</div>
  </div>
</div>
