
<!DOCTYPE html>
<html>
  <head>
    <title>HeroinAddict</title>
    <%= csrf_meta_tags %>
    <title>Chat</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>
    <div class="container">
      <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>">
            <p id=""><%= value %>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            </p>
        </button>
        </div>
      <% end %>
    </div>
    <p></p>

    <%= yield %>
    <!-- <footer class="footer">
      <div class="container">
        <a href="https://omnovi.tumblr.com/tagged/about" target="_blank"><span class="text-muted text-center">Learn More About Omnovi</span></a>
      </div>
    </footer> -->
  </body>
</html>
